PORT=3000

OLLAMA_BASE_URL=http://ollama:11434
# Model can easily be changed by editing .env in the ollama directory
OLLAMA_MODEL=deepseek-llm:latest
# OLLAMA_MODEL=llama3.2
OLLAMA_EMBEDDING_MODEL=nomic-embed-text

RAG_VECTOR_DB=hnsw
RAG_SEARCH_RESULT_COUNT=8

MONGODB_URI=
MONGODB_DB_NAME=rag_poc
MONGODB_SOURCE_COLLECTION=rag_documents
MONGODB_CHAT_COLLECTION=chat_messages
